#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
form input {
  height: 20px;
  padding: 5px 15px;
}

.map_box {
  width: 115%;
  height: 66vh;
  overflow: hidden;
  position: relative;
}

.map_box nav {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
}


.map_box .cover {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  background: rgba(0, 0, 0, 0.274);
}

.map_box .cover i {
  display: none;
  color: white;
  font-size: 6rem;
}

.map_box .cover.change {
  top: 0;
}

.map_box .cover.change i {
  display: flex;
}

.search_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 90%;
  padding: 2vh 5%;
  height: 26vh;
  max-height: 26vh;
  background: white;
  z-index: 100;
  border-radius: 30px 30px 0 0;
  gap: 1rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search_box nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -35px;
}

.search_box nav a,
.search_box nav span {
  color: white;
  display: flex;
  gap: 0 0.3rem;
  padding: 5px 10px;
  border-radius: 100px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search_box nav span {
  background: salmon;
}

.search_box nav a {
  background: orange;
}

.search_box div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search_box .search_res {
  width: 100%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 0.5rem 0;
}

.search_box .search_res span {
  width: 90%;
  padding: 8px 5%;
  border-bottom: 1px dotted darkgray;
}